body {
  background-color: rgb(221, 160, 221);
  background-image: url(/img/piggyBackground.jpg)
}

.jumbotron {
  text-align: center;
  background-color: rgb(255, 194, 204);
}

.container {
  text-align: center;
  position: relative;
}

#console {
  background-color: powderblue;
  padding: 35px !important;
  border-style: ridge;
  border-width: 5px;
}

#play-space {
  display: none;
}

#winner-space {
  display: none;
}

#rolled-one {
  display: none;
  padding-top: 25px;
}

#rolled-one img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#current-roll, #round-total, #current-player, #player-1-score, #player-2-score {
  font-weight: bold;
}

.player-space {
  border-style: ridge;
  font-weight: bold;
  background-color: pink;
}